<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="ProjectWB.Properties.Settings.WelfareConnectionString" connectionString="Data Source=DESKTOP-N854IPV;Initial Catalog=Welfare;User ID=sa;Password=Modtanoy" providerName="System.Data.SqlClient" />
    <add name="ProjectWB.Properties.Settings.MedwelfareConnectionString" connectionString="Data Source=DESKTOP-N854IPV;Initial Catalog=Medwelfare;User ID=sa;Password=Modtanoy" providerName="System.Data.SqlClient" />
    <add name="WelfareEntities" connectionString="metadata=res://*/WelfareModel.csdl|res://*/WelfareModel.ssdl|res://*/WelfareModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-N854IPV;initial catalog=Welfare;user id=sa;password=Modtanoy;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="MedwelfareEntities" connectionString="metadata=res://*/ModelMedWelfare.csdl|res://*/ModelMedWelfare.ssdl|res://*/ModelMedWelfare.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-N854IPV;initial catalog=Medwelfare;user id=sa;password=Modtanoy;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="MedwelfareEntities1" connectionString="metadata=res://*/ModelMedwelfare.csdl|res://*/ModelMedwelfare.ssdl|res://*/ModelMedwelfare.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-N854IPV;initial catalog=Medwelfare;user id=sa;password=Modtanoy;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>